<mat-card>
  <mat-card-header>
    <img
      mat-card-avatar
      mat-card-md-image
      [src]="profile.avatar"
      alt="avatar"
    />
    <mat-card-title>
      {{ profile.name }} - lvl {{ profile.level }}
    </mat-card-title>
    <mat-card-subtitle
      >{{ profile.race }} {{ profile.class }}</mat-card-subtitle
    >
    <mat-card-subtitle class="description">{{
      profile.shortDescription
    }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <a mat-button [routerLink]="['/view', uuid]" color="primary"> View </a>
  </mat-card-actions>
</mat-card>
