$spacing: 16px;

mat-card-header {
  padding: $spacing;
  padding-bottom: 0;
}

mat-card-title {
  font-size: 22px;
  margin-bottom: calc(#{$spacing} / 4);
}

mat-card-subtitle {
  display: flex;
  justify-content: space-between;

  &.description {
    color: inherit;
    margin-top: $spacing;
  }
}

mat-card-actions {
  display: flex;
  align-items: end;
  flex-direction: column;
  padding-top: 0;
}

@media (max-width: 500px) {
  mat-card {
    margin: $spacing 0;
  }
}
