.app-image-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  overflow: hidden;
  position: relative;

  border-radius: var(--mdc-outlined-text-field-container-shape);
  border-width: var(--mdc-outlined-text-field-outline-width);
  border-color: var(--mdc-outlined-text-field-outline-color);
  border-style: solid;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    z-index: 2; // overlay on top of the button
  }

  &.fileover .overlay,
  .overlay:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &.app-image-input-disabled .overlay {
    background-color: transparent;
    cursor: auto;
  }

  button {
    margin-bottom: 8px;
  }
  .hint {
    color: var(--mdc-outlined-text-field-label-text-color);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
  }
}
