@use "@angular/material" as mat;

// Use a pre-defined palette
$app-primary: mat.define-palette(mat.$indigo-palette);

$app-accent: mat.define-palette(mat.$grey-palette, A200, A100, A400);

// Theme uses the palettes
$app-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
  )
);

// Apply the theme
@include mat.all-component-themes($app-theme);

html,
body {
  height: 100%;
  background-color: #faeab7;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
